body {
  font-family: "robotomono";
  font-size: 15px;
  background-color: #ffffff;
  color: #5f5f5f;
}

h3 {
  font-family: "firacode";
  color: #2070ff;
}

h4 a {
 color: #ff7020;
}

g {
  font-weight: bold;
  color: #2070FF;
}

footer {
  font-family: 'firacode';
  color: white;
  font-size: 0.7em;
}
/*
main {
      background-color: #ffffff;
      border-radius: 10px;
      border: 0.75px solid #ff7020;
      padding: 0 2.5vw 0 2.5vw;
}
*/
hr {
  border: none;
  border-top: 1.5px solid #ff7020;
  border-bottom: 1.5px solid #ff7020;
  width: 5%;
}

fn {
  font-size: 0.7em;
}

i {
  color: #ff50ff;
}

u {
  color: #00cf00;
}

c {
  color: #2070ff;
}

@font-face {
  font-family: "roboto";
  src: url("../Fonts/roboto.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotomono";
  src: url("../Fonts/robotomono.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arkpixel";
  src: url("../Fonts/arkpixel.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "firacode";
  src: url("../Fonts/firacode.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

a:visited { 
  color: #2070ff;
}

a:hover { 
  color: #2070ff; 
}

a:active { 
  color: #2070ff;
} 

a {
  text-decoration: none;
}
